@import "../general/mixins.scss";
@import "../general/variables.scss";

.profile{
    @include sectionVerticalSpace;
    @include sectionHorizontalSpace;
    background-color: #1eff001e;

    h2{
        @include secondGeneralHeading;
        color: $first-gs-heading-color;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__text{
        @include secondGSRegularText;
        @include regularTextAlignCenter;
    }
}